/* body{ */
  /* margin: 0 auto; */
  /* margin: 10px; */
  
/* } */
* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  background-color:black;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
    padding: 0;
    width: 100%;
}
html {
  font-size: 14px;

  @media (min-width: 480px) {
    font-size: 16px;
  }

  @media (min-width: 768px) {
    font-size: 17px;
  }

  @media (min-width: 1024px) {
    font-size: 17px;
  }
}
